.card-background{
    height: 3000px;
    margin-top: 800px;
    margin-bottom: 1600px;
}

.card-box img{
    display: block;
    margin:auto;
    width: 900px;
    height: 800px;
    border-radius: 50px;
}
.card-box{
    position: sticky;
    top: 100px;
    margin-top: 200px;
}